/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*Colors are Shades of Green & Gold */




body {
}

.navbar {
  background-color: "Transparent";
}

#picks {
  padding-top: 50px;
  text-align: center !important;
}

#shine {
    color: #27ae60;
    font-size: 200%;
}

/*SLICK*/
.slider {
      width: 100%;
      margin: 0;
    }

.slick-slide {
  display: inline-block;
}

.slick-list {
  height: 305px !important;
  padding-top: 5px !important;
  text-align: center !important;
}

.slick-track {
  /*width: auto;*/
  text-align: center !important;
  /*transform: translate3d(-926px, 0px, 0px)!important;*/
}

/*
.slick-prev:before,
.slick-next:before {
    color: black;
}*/

/* HEADERS */
.category {
  text-align: left;
  margin-left: 4em;
  font-size: 200%;
  font-weight: 500;
  /*font-size: 2em;*/
  /*color: #27ae60;*/
  color: #606060;
}
.favorites p {
  text-align: left;
  padding-left: 10px;
}

.streaks > .outer > .inner > a > h3:last-child {
  font-size: 1.5em;
}
.streaks > .outer > .inner > a > h3 {
  font-size: 1.3em;
  margin: 0 0 8px 0;
}
.public .outer .inner a > p:last-child {
  font-size: 1.5em;
}

.outer {
/*background-color: #606060;*/
background-color: #404040;
    /*background-color: #27ae60;*/
    position: relative !important;
    display: inline-block !important;
    height: 290px !important;
    width: 200px !important;
    border: 3px solid #FFFFFF !important;
    border-radius: 35px !important;
    margin: 1% 1% 1% 1%;
    text: white;
    overflow: hidden;
    box-shadow: 2px 2px 10px black;
}
.outer:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
}
/* Hover state - trigger effect */
.outer:hover:after {
  opacity: 1;
  top: -30%;
  left: 175%;
  transition-property: left, top, opacity;
  transition-duration: 1.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
/* Active state */
.outer:active:after {
  opacity: 0;
}


.buy {
    margin-top: 1.5em;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #777777;
}
.buy a:hover {
    color: limegreen;
    font-weight: bold;
}

.buy a {
  font-weight: 500;
  font-size: 200%;
  color: limegreen;
  text-decoration: none;
}

.sell {
    margin-bottom: 1.5em;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #777777;
    background-color: ;
    /*font-family: 'Open Sans', sans-serif;
    font-weight: 800;*/
}
.sell a:hover{
  color: orangered;
  font-weight: bold;
}
.sell a{
  font-weight: 500;
  font-size: 200%;
  /*color: #ff0000;*/
  color: orangered;
  text-decoration: none;
  /*color: #e25119;*/
}

.inner  {
    text-align: center;
    height: 140px;
    padding: 0 5px 0 5px;
    /*color: white;*/
    /*color: #c5b358;*/
}
.inner h2:first {
    font-weight: 550;
    letter-spacing: 1.45px;
}
.inner a {
  /*text-align: "justify";*/
  font-size: 1.2em;
  margin-bottom: 30px;
}
.inner a:hover {
     color: white;
     cursor: pointer;
     /*font-style: normal;*/
     /*text-decoration: none;*/
}
.inner p {
  text-align: "left";
  font-size: 1em;
  /*margin-top: 5px;*/
}
/*.inner p:last-child {
  margin-bottom: 20px;
}*/
.inner * {
  color: white;
}

/*PICK DETAIL*/
#pick_detail {
  /*position: relative;*/
  display: inline-block;
}

#pick_detail img {
  margin: 0 0 5% 7%;
  border-radius: 15px;
  float: left;
  border: 4px solid white;
}

#news a {
  color: #777777;
  float: left;
  font-size: 100%;
  line-height: 300%;
  font-family: 'Bevan', cursive;
  margin: 0 0 0 3%;
  border-bottom: 2px solid #777777;
  text-decoration: none;
  padding: 0 1% 0 1%;
}
#news a:hover {

  color: #2c3e50;
  border-bottom: 2px solid #2c3e50;
}

/* FEATURED POSITION */
#featured_position {
    margin: 0 5% 0 5%;
    border-top: 2px solid white;
;
}

.featured_outer h1 {
    color: white;
}
.featured_position {
    text-align: center;
}
.feature_outer {
    display: inline-block;
    height: 18%;
    width: 100%;
    border-top: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    box-shadow: 5em white;
    margin: 0 2% 0 0;
    text: white;
    /*background-color: #f1c40f;*/
    background-color: #27ae60;
}

.feature_inner {
    display: inline-block;
    color: white;
}

.feature_inner img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    filter: blur(2px);
    border: 2px white solid;
}

.feature_user {
    display: inline;
    float: left;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
